body,html{
    width:100%;
    box-sizing: border-box;
}
.wrapper{
    max-width:100%; /* 2 */
padding:5px;

}

.title{
    text-align:center;
    width:100%;
    padding: 1px;
    color: #fff;
    background-color: #007bff;
    border-radius:.25rem;
    border-color: #007bff;
}
h2{
    text-align:left;

}

.container-fluid{
    display: inline-block;
    min-width:30%;
    padding:15px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius:.25rem;
    border:1px solid rgba(0,0,0,.125);
    padding: 10px;
}
.left{
    float:left;
}
.right{
    float:right;
}
.center{
    clear:both;
}

.card {
    margin-top:20px;
    border-radius:.25rem;
   width:100%; 
    text-align:center;
    margin-bottom:0;
    padding:1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}